<ion-view view-title="Issue Details">
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="left">
        <button class="button button-clear icon ion-chevron-left" ng-controller="MapController" ng-click="backToMap()"> Back</button>
    </ion-nav-buttons>
    <ion-content ng-controller="IssueDetailsController">

        <div class="list card">

            <div class="item item-avatar">
                <img src="mcfly.jpg">
                <h2>{{issue.owner.name}}</h2>
                <p>{{formatDate(issue.createdOn) | date:"dd.MM.yyyy 'at' hh:mm"}}</p>
                <p>Status : {{issue.state}}</p>
            </div>

            <div class="item item-body">
                <img class="full-image" src="{{issue.imageUrl}}">
                <p>
                    {{issue.description}}
                </p>
                <p>
                    <a href="#" class="subdued">{{issue.comments.length}} Comments</a>
                </p>

                <div class="card" ng-repeat="comment in issue.comments">
                    <div class="item item-divider">
                        {{comment.author.name}} on {{formatDate(issue.createdOn) | date:"dd.MM.yyyy 'at' hh:mm"}} :
                    </div>
                    <div class="item item-text-wrap">
                        {{comment.text}}
                    </div>

                </div>
                <div class="list">

                    <label class="item item-input">
                        <textarea placeholder="Your comment"></textarea>
                    </label>
                </div>
                <img src="{{getMap(issue.lat, issue.lng)}}"/>
            </div>


            <div class="item tabs tabs-secondary tabs-icon-left">

                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i>
                    Comment
                </a>


            </div>
        </div>
    </ion-content>

</ion-view>

