<ion-side-menus>

    <ion-side-menu-content>
        <ion-nav-bar class="bar-energized">
            <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
            <!-- <ion-nav-back-button class="button-icon ion-arrow-left-c"> -->
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <header class="bar bar-header bar-stable">
            <div class="bar bar-header bar-dark">
                <h1 class="title">Paramètres</h1>
            </div>
        </header>
        <ion-content class="has-header">
            <ion-list>
                <ion-item nav-clear menu-close href="#/app/newIssue">
                    Create Issue
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/issueMap">
                    Issue Map
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/search">
                    Search
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/browse">
                    Browse
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/myIssues">
                    My issues
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/myAccount">
                    My account
                </ion-item>
                <ion-item nav-clear menu-close ng-controller="LogoutCtrl" ng-click="logOut()" >
                    Log Out
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>

    <ion-side-menu side="right">
        <header class="bar bar-header bar-stable">
            <div class="bar bar-header bar-dark">
                <h1 class="title">List</h1>
            </div>
        </header>
        <ion-content class="has-header">
            <ion-list ng-controller="IssueController">

                <ion-item ng-repeat="issue in issues" class="item item-thumbnail-left menu-close" ui-sref="app.issueDetails()">
                    {{issue.description}}
                    <img src="{{issue.img}}">
                </ion-item>

            </ion-list>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>