  <ion-side-menus>
    <ion-side-menu-content drag-content="false">
        <ion-nav-bar class="bar-energized">

        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
      <header class="bar bar-header bar-stable bar-dark">
        <h1 class="title">Paramètres</h1>
      </header>
      <ion-content id="parameters" class="has-header">
        <ion-list>
          <ion-item nav-clear menu-close class="item item-icon-left" href="#/app/issueMap">
            <i class="icon ion-map"></i>
            Map
          </ion-item>
<!--           <ion-item nav-clear menu-close href="#/app/search">
            Search
          </ion-item>
          <ion-item nav-clear menu-close href="#/app/browse">
            Browse
          </ion-item> -->
          <ion-item nav-clear menu-close class="item item-icon-left" href="#/app/myIssues">
            <i class="icon ion-navicon"></i>
            My issues
          </ion-item>
          <ion-item nav-clear menu-close class="item item-icon-left" href="#/app/myAccount">
            <i class="icon ion-ios-people"></i>
            My account
          </ion-item>
          <ion-item nav-clear menu-close class="item item-icon-left" ng-controller="LogoutCtrl" ng-click="logOut()" >
            <i class="icon ion-android-exit"></i>
            Log Out
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-side-menu>

    <ion-side-menu side="right">
      <div ng-controller="MenuController">
        <header class="bar bar-header bar-stable bar-dark">
          <h1 class="title">Issues list
<!--             <a class="listlink button button-icon" ng-click="showRadiusSearch()">
              <i class="listlink ion-android-locate"></i>
            </a>
            <a class="listlink button button-icon" ng-click="showTypeSearch()">
              <i class="listlink ion-compose"></i>
            </a>
            <a class="listlink button button-icon" ng-click="showNothing()">
              <i class="listlink ion-cross"></i>
            </a> -->
<!--             <a class="listlink button button-icon ion-ios-people" ng-click="showMineIssues()"></a> -->
            <!-- <div class="row">
              <div class="col">
                <a class="listlink button button-icon ion-ios-search-strong" ng-click="showTextSearch()"></a>
              </div>
              <div class="col">
                <a class="listlink button button-icon ion-android-locate" ng-click="showRadiusSearch()"></a>
              </div>
              <div class="col">
                <a class="listlink button button-icon ion-compose" ng-click="showTypeSearch()"></a> 
              </div>
            </div>
            <div class="row">
              <div class="col">
                Text
              </div>
              <div class="col">
                Radius
              </div>
              <div class="col"> 
                Type 
              </div>
            </div> -->
          </h1>
          <a class="button button-icon" ng-click="toggleSearch()">
            <i class="searchlink" ng-class="{'ion-ios-search-strong': !searchVisible, 'ion-close': searchVisible}"></i>
          </a>
        </header>
        <ion-content class="has-header">
            <ion-list ng-controller="IssueController">
              <div>
                <label ng-show="searchVisible" class="item item item-icon-left item-input searchlist">
                  <a class="item item-icon-left">
                    <i class="icon ion-document-text"></i>
                  </a>
                  <input type="text" value="test" placeholder="Search by text descritpion" ng-model="search.text" ng-model-options="{debounce: 1000}">
<!--                   <a class="button button-icon item item-icon-right" ng-click="blankField">
                    <i class="icon ion-ios-close-outline" href=""></i>
                  </a> -->
                </label>
                <label name="test" ng-show="searchVisible" class="item item item-input item item-select searchlist">
                  <a class="item item-icon-left">
                    <i class="icon ion-compose"></i>
                  </a>
                  <div >
                    Issue type
                  </div>
                  <select ng-controller="IssueTypeController" ng-model="search.type" ng-model-options="{debounce: 1000}">
                    <option no selection></option>
                    <option value="{{issuetype.id}}" ng-repeat="issuetype in issuetypes">{{issuetype.name}}</option>
                  </select>
                  <!-- <input type="text" placeholder="Search by type" ng-model="search.type" ng-model-options="{debounce: 1000}"> -->
                </label>
                <label ng-show="searchVisible" class="item item item-icon-left item-input searchlist">
                  <!-- <i class="icon ion-android-locate"></i> -->
                  <a class="item item-icon-left">
                    <i class="icon ion-android-locate"></i>
                  </a>
                  <input id="searchPLaceholder" type="text" ng-disabled="!positionFound" placeholder="{{ radiusPlaceholder }}" ng-model="search.radius" ng-model-options="{debounce: 1000}">
                </label>
                 <div class="list">

            <a class="item item-thumbnail-left menu-close"  ng-repeat="issue in issues" ng-click="issueDetails(issue.id)">
                <img ng-src="{{issue.imageUrl}}" fallback-src="img/default.png">
                <h2>{{issue.description}}</h2>
                <p>[{{issue.state | uppercase}}]</p>
            </a>
        </div>
          
            </ion-list>
        </ion-content>
    </ion-side-menu>
  </ion-side-menus>