<ion-side-menus>

  <ion-side-menu-content>
    <ion-nav-bar class="bar-energized">
      <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
      <!-- <ion-nav-back-button class="button-icon ion-arrow-left-c"> -->
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable bar-dark">
      <h1 class="title">Paramètres</h1>
    </header>
    <ion-content id="test" class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/newIssue">
          Create Issue
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/issueMap">
          Issue Map
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/search">
          Search
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/browse">
          Browse
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/myIssues">
          My issues
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/myAccount">
          My account
        </ion-item>
        <ion-item nav-clear menu-close ng-controller="LogoutCtrl" ng-click="logOut()" >
          Log Out
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

  <ion-side-menu side="right">
    <header class="bar bar-header bar-stable bar-dark">
      <h1 class="title">List</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item href="#/details">
          Issue 1 details
        </ion-item>
        <ion-item href="#/details">
          Issue 2 details
        </ion-item>
        <ion-item href="#/details">
          Issue 3 details
        </ion-item>
        <ion-item href="#/details">
          Issue 4 details
        </ion-item>
        <ion-item href="#/details">
          Issue 5 details
        </ion-item>
        <ion-item href="#/details">
          Issue 6 details
        </ion-item>
        <ion-item href="#/details">
          Issue 7 details
        </ion-item>
        <ion-item href="#/details">
          Issue 8 details
        </ion-item>
        <ion-item href="#/details">
          Issue 9 details
        </ion-item>
        <ion-item href="#/details">
          Issue 10 details
        </ion-item>
        <ion-item href="#/details">
          Issue 11 details
        </ion-item>
        <ion-item href="#/details">
          Issue 12 details
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>