<ion-view title="My Account">
  	<ion-nav-buttons side="left">
    <!-- <button type="button" ng-controller="LogoutCtrl" ng-click="logOut()" class="button">Log Out</button> -->
  		<button menu-toggle="left" class="button button-icon icon ion-gear-a"></button>
  	</ion-nav-buttons>
    <ion-content ng-controller="myAccount">

 		<div class="list card">

 			<ul class="list">
			    <li class="item">
			    	<h9>Firstname</h9>
			    	<h2>{{user.firstname}}</h2>  
			    </li>
			    <li class="item">
			    	<h9>Lastname</h9>
			    	<h2>{{user.lastname}}</h2>  
			    </li>
			    <li class="item">
			    	<h9>Phone</h9>
			    	<h2>{{user.phone}}</h2>  
			    </li>
			    <div class="item item-image">
			    	<h9>Profile picture</h9>
			    	<p></p>
				    <img src="img/default_profile.png">
				</div>
			</ul>
		</div>
		<div class="card">
		  	<div class="item item-text-wrap">
		  		<p>You doesn't possess the rights to change your personal informations.</p>
		  		<p>To do this, call a staff that will change for you.</p>
		  		<p>Thank you</p>
		  	</div>
		</div>
		<div class = "row center">
               <div class="col">
                    <a ng-href="tel: +41796786672" class="button button-full button-positive icon-left ion-ios-telephone">
					  	Call a staff
					</a>
                </div>
          </div>
    </ion-content>
</ion-view>

