<ion-view title="My Account">
  	<ion-nav-buttons side="left">
    <!-- <button type="button" ng-controller="LogoutCtrl" ng-click="logOut()" class="button">Log Out</button> -->
  		<button menu-toggle="left" class="button button-icon icon ion-gear-a"></button>
  	</ion-nav-buttons>
    <ion-content ng-controller="myAccount">
                <ion-refresher
            
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
        </ion-refresher>

    	<div class="list list-inset">
		    <div class="item item-icon-left">
		      	<h9>Last login</h9>
		      	<i class="icon ion-log-in"></i>
			    <h2>
			    	{{lastlogin}}
			    </h2> 
		    </div>
		</div>
 		<div class="list card">
 			<ul class="list">
			    <li class="item">
			    	<h9>Firstname</h9>
			    	<h2>{{user.firstname}}</h2>  
			    </li>
			    <li class="item">
			    	<h9>Lastname</h9>
			    	<h2>{{user.lastname}}</h2>  
			    </li>
			    <li class="item">
			    	<h9>Phone</h9>
			    	<h2>{{user.phone}}</h2>  
			    </li>
			    <div class="item item-image">
			    	<h9>Profile picture</h9>
			    	<p></p>
				    <img src="img/default_profile.png">
				</div>
			</ul>
		</div>
		<div class="card">
		  	<div class=" infoAccount item item-text-wrap">
		  		<p id="paraAccount1">You doesn't possess the rights to change your personal informations.</p>
		  		<p id="paraAccount2">To do this, call a staff that will change for you.</p>
		  		<p id="paraAccount3">Thank you</p>
		  	</div>
		</div>
		<div class = "row center">
               <div class="col">
                    <a ng-href="tel: +41 24 557 75 84" class="button button-full button-positive icon-left ion-ios-telephone">
					  	Call a staff
					</a>
                </div>
          </div>
    </ion-content>
</ion-view>

