<ion-view title="My Issues">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-gear-a"></button>
    </ion-nav-buttons>
    <ion-content class="has-header" ng-controller="IssuesByUserController">
        <ion-refresher
            
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
        </ion-refresher>
        <div class="list">

            <a class="item item-thumbnail-left"  ng-repeat="issue in issues" ng-click="issueDetails(issue.id)">
                <img ng-src="{{issue.imageUrl}}" fallback-src="img/default.png">
                <h2>{{issue.description}}</h2>
                <p>[{{issue.state| uppercase}}]</p>
            </a>
        </div>
    </ion-content>
</ion-view>