<ion-view view-title="New Issue">
    <ion-nav-buttons side="left">
        <button class="button button-clear icon ion-chevron-left" ng-controller="MapController" ng-click="backToMap()"> Back</button>
    </ion-nav-buttons>
  	<ion-content>
    	<p>Hello! This is the issue creation screen.</p>
  	</ion-content>
</ion-view>

<!-- <ion-view title="Search">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <h1>Search</h1>
  </ion-content>
</ion-view> -->