<ion-view view-title="Issue Details">
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="left">
        <button class="button button-clear icon ion-chevron-left" ng-controller="MapController" ng-click="backToMap()"> Back</button>
    </ion-nav-buttons>
    <ion-content ng-controller="IssueDetailsController">

        <div class="list card">

            <div class="item item-avatar">
                <img src="img/default_profile.png">
                <h2>{{user.firstname}} {{user.lastname}}</h2>
                <p>Your mission,</p><p>should you choose to accept it...</p>
                <p>1. Take a picture</p>
                <p>2. Swipe to pick up location</p>
                <p>3. Fill the informations</p>
                <p>4. Submit your issue</p>
                <p>5. Be proud to be a good citizen</p>
            </div>

            <div class="item item-body">
                <ion-slide-box active-slide="myActiveSlide"  show-pager="true">
                    <ion-slide>
                        <div class="box blue" ng-controller="CameraController" ng-click="showPopup()"><img class="full-image" src="{{imageUrl}}"></div>
                    </ion-slide>
                    <ion-slide ng-controller="MapPickerController">
                        <div class="box blue"><leaflet defaults="mapDefaults" center="mapCenter" markers="mapMarkers" height="357px"  data-tap-disabled="true"></leaflet></div>
                    </ion-slide>

                </ion-slide-box>

                <label class="item item-input item-select">
                    <div class="input-label">
                        IssueType
                    </div>
                    <select ng-controller="IssueTypeController" ng-change="selectAction()" ng-model="input.issueTypeId">
                    <option no selection></option>
                    <option value="{{issuetype.id}}" ng-repeat="issuetype in issuetypes">{{issuetype.name}}</option>
                </select>
                </label>
                
               <label class="item item-input item-floating-label">
                   
                <span class="input-label"></span>
                <input type="text" placeholder="Description" ng-model="input.description" required>
            </label> 
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">

                <a class="tab-item" href="" ng-click="createIssue()" >
                    <i class="icon ion-plus-round"></i>
                    Create issue
                </a>


            </div>





        </div>



    </ion-content>

</ion-view>

