<ion-view view-title="Issue Details">
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="left">
        <button class="button button-clear icon ion-chevron-left" ng-controller="MapController" ng-click="backToMap()"> Back</button>
    </ion-nav-buttons>
    <ion-content ng-controller="IssueDetailsController">

        <div class="list card">

            <div class="item item-avatar">
                <img src="img/default_profile.png">
                <h2>{{issue.owner.name}}</h2>
                <p>{{formatDate(issue.createdOn) | date:"dd.MM.yyyy 'at' hh:mm"}} [{{issue.state| uppercase}}]</p>
            </div>

            <div class="item item-body">
                <ion-slide-box active-slide="myActiveSlide"  show-pager="true">
                    <ion-slide>
                        <div class="box blue" ng-controller="CameraController" ng-click="showPopup()"><img height="161px"  class="full-image"  src="{{imageUrl}}"></div>
                    </ion-slide>
                    <ion-slide ng-controller="MapPickerController">
                        <div class="box blue"><leaflet defaults="mapDefaults" center="mapCenter" markers="mapMarkers" height="161px" width="100%" data-tap-disabled="true"></leaflet></div>
                    </ion-slide>

                </ion-slide-box>

                <label class="item item-input item-select">
                    <div class="input-label">
                        IssueType
                    </div>
                    <select ng-controller="IssueTypeController">
                    <option no selection></option>
                    <option ng-repeat="issuetype in issuetypes">{{issuetype.name}}</option>
                </select>
                </label>
               <label class="item item-input item-floating-label">
                <span class="input-label">Description</span>
                <input type="text" placeholder="Description">
            </label> 
                <h2>
                    {{issue.description}}
                </h2>

            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">

                <a class="tab-item" href="#">
                    <i class="icon ion-plus-round"></i>
                    Create issue
                </a>


            </div>





        </div>



    </ion-content>

</ion-view>

