<ion-view view-title="Issue Details" ng-controller="IssueActionDetailsController">
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="left">
        <button class="button button-clear icon ion-chevron-left" ng-click="backToMyIssues()"> Back</button>
    </ion-nav-buttons>
    <ion-content>
                <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
        </ion-refresher>

        <div class="list card">

            <div class="item item-avatar">
                <img src="img/default_profile.png" >
                <h2>{{issue.owner.name}}</h2>
                <p>{{formatDate(issue.createdOn) | date:"dd.MM.yyyy 'at' hh:mm"}} [{{issue.state| uppercase}}]</p>
            </div>

            <div class="item item-body">

                <ion-slide-box active-slide="myActiveSlide"  show-pager="true">
                    <ion-slide>
                        <div class="box blue"><img height="161px" class="full-image" src="{{issue.imageUrl}}" fallback-src="img/default.png"></div>
                    </ion-slide>
                    <ion-slide>
                        <div class="box blue"><img width="100%" class='full-image' src="{{getMap(issue.lng, issue.lat)}}"/></div>
                    </ion-slide>

                </ion-slide-box>

                <h2>
                    {{issue.description}}
                </h2>


                <p>
                    <a  href="" class="subdued" ng-click="setVisibility()">{{issue.comments.length}} Comments</a>
                </p>

                                <div class="card {{visibility}}" ng-repeat="comment in issue.comments" >
                    <div class="item item-divider   ">
                        {{comment.author.name}} commented :

                    </div>
                    <div class="item item-text-wrap">
                        {{comment.text}}
                    </div>
                    <div class="item item-divider">
                        {{formatDate(issue.createdOn) | date:"dd.MM.yyyy 'at' hh:mm"}}
                    </div>

                </div>

                <label class="item item-input {{visibility}}">
                    <input type="text" placeholder="Your comment" ng-model="input.comment">
                </label>
            </div>



            <div class="item tabs tabs-secondary tabs-icon-left {{visibility}}">

                <a class="tab-item" href="" ng-click="addComment()">
                    <i class="icon ion-chatbox"></i>
                    Comment
                </a>


            </div>

        </div>
        <div class="list card">
            <div class="item item-body">
                <h2>Actions taken on your issue</h2>

                <div class="card" ng-repeat="action in actions">
                    <div class="item item-divider">
                        {{action.user}} {{action.type}}
                    </div>
                    <div class="item item-text-wrap">
                        {{action.reason}}
                    </div>
                     <div class="item item-divider">
                        {{formatDate(action.actionDate) | date:"dd.MM.yyyy 'at' hh:mm"}}
                    </div>

                </div>
            </div>

        </div>

    </ion-content>

</ion-view>

