/* Empty. Add your own CSS if you like */

body {
	font-family: "Helvetica";
}

#createIssueButton {
	/*color: #5FB404;*/
	z-index: 99;
	position: absolute;
	bottom: 8%;
	right: 5%;
	font-size: 50px;
}

#parameters {
	background-color: #444;
}

#parameters .item {
	background-color: #aaa;
	border-color: #444;
}
#parameters .item-complex .item-content {
	background-color: #aaa;
	border-color: #444;
}

.listlink {
	top: 5px;
}

.searchlist{
	background-color: #eee;
}