/* Empty. Add your own CSS if you like */

body {
	font-family: "Helvetica";
}

#createIssueButton {
	/*color: #E6B400*/;/*Jaune*/
	/*color: #FFC900;*//*Jaune*/
	color: #145FD7;/*Bleu*/
	/*color: #6C3;*//*Vert*/
	z-index: 99;
	position: absolute;
	bottom: 8%;
	right: 5%;
	font-size: 70px;
}

#createIssueButton img{
	border:	0px;
}

#parameters {
	background-color: #444;
}

#parameters .item {
	background-color: #aaa;
	border-color: #444;
}
#parameters .item-complex .item-content {
	background-color: #aaa;
	border-color: #444;
}

.searchlink {
	top: 50%;
	font-size: 150%;
}

.searchlist {
	background-color: #eee;
	height: 35px;
}

/*.test {
	color: white;
	z-index: 98;
	position: absolute;
	bottom: 7.9%;
	right: 6.5%;
	font-size: 83px;
}*/
